<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="favicon.png">
    <meta charset="UTF-8">
    <title>VR - Virtual Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Virtual Restaurant App">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
    <a href="#restaurantlist" class="skip-link">Menuju ke konten</a>
    <!-- Navbar start -->
    <header>
        <nav class="navbar">
            <div class="nav-tittle">VR - Virtual Restaurant</div>
            <a class="toggle-button" aria-label="Hamburger button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="nav-links">
                <ul>
                    <li><a href="#/list-restaurant">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="https://github.com/Irzercks47" target="_blank" rel="noreferrer">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Navbar end -->

    <main tabindex="0" id="mainContent">
        <!-- Hero Start -->
        <section class="hero" >
            <div class="body">
                <h1 class="title">Restaurant Apps</h1>
                <p class="text">Find the best restaurants only on the best websites.</p>
            </div>
        </section>
        <!-- Hero End -->

        <!-- Content start -->
        <section class="content">

        </section>
        <!-- Content End -->
    </main>
    <!-- footer start -->
    <footer>
        <p>Copyright © 2022 - Virtual Restaurant</p>
    </footer>
    <!-- footer end -->
</body>
</html>
